<div class="event-detail">
    {{ content|without('field_sponsor', 'field_unit_ref') }}

    {% if node.field_sponsor|length %}
    {% set sponsor = node.field_sponsor.entity %}
    <div class="field">
        <div class="field__label">Sponsor</div>
        <div class="field__item">
            {% if sponsor.field_sponsor_homepage|length %}
                <a href="{{ sponsor.field_sponsor_homepage[0].url }}">{{ sponsor.name.value }}</a>
            {% else %}
                {{ sponsor.name.value }}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if node.field_unit_ref|length %}
    <div class="field">
        <div class="field__label">Unit</div>
        {% for item in node.field_unit_ref %}
            {% set unit = item.entity %}
            {% if unit.field_include_in_events_filter.value %}
                <div class="field__item">
                    {% if unit.field_unit_home|length %}
                        <a href="{{ unit.field_unit_home[0].url }}">{{ unit.name.value }}</a>
                    {% else %}
                        {{ unit.name.value }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>