{% import '@macros/svg.macro.twig' as svg %}

{% if url|default(false) %}
<a href="{{ url }}" class="icon-label {{ label_modifier|default('') }}">
{% else %}
<div class="icon-label {{ label_modifier|default('') }}">
{% endif %}

	<div class="icon-wrapper">{{ svg.ref(icon|default('angle-double-right'), title_text, "icon") }}</div>
	<div class="label {% if hide_label|default(false) %}show-for-sr{% endif %}">{{ label }}</div>

{% if url|default(false) %}
</a>
{% else %}
</div>
{% endif %}
