<div class="teaser teaser--light contact-info">
    <div class="contact-info__heading">
        {{ headline }}
    </div>
    <div class="contact-info__content">
        <div class="contact-info__photo">
          {{ photo }}
        </div>
        <div class="contact-info__identity">
            <p>
                <span class="contact-info__name">{{ name }}</span>
                <span class="contact-info__title">{{ job_title }}</span>
            </p>
        </div>

        <dl class="invisible-labels">
          {{ info }}
        </dl>
    </div>
</div>