<div class="pullquote {{ pullquote_variant }}">
  <div class="pullquote__quote">
    <p>{{ quote }}</p>
  </div>
  <div class="pullquote__meta">
    {{ image }}
    <cite class="pullquote__attribution">
      <span class="pullquote__first-line">{{ first_line }}</span>
      <span class="pullquote__second-line">{{ second_line }}</span>
    </cite>
  </div>
</div>