{% include 'molecules-skip-nav' %}
{% include 'components-universal-header' %}
{% include 'components-global-header' %}
<main class="main">
	{{ page.breadcrumb }}

	{% block content_prefix %}
		{{ page.content_prefix }}
	{% endblock %}

	{% block main_content %}
		{% set sidebar %}
			{{ page.sidebar }}
		{% endset %}
		{% if sidebar|trim %}
			{% include 'molecules-slab-1x2' with {
				main: page.content,
				aside: sidebar
			} %}
		{% else %}
			{{ page.content }}
		{% endif %}
	{% endblock %}

	{% block content_suffix %}
		{{ page.content_suffix }}
	{% endblock %}
</main>
{% include 'components-global-footer' %}
{% include 'components-universal-footer' %}
