{% if tagline %}
	{% set hero_modifier = hero_modifier ~ ' has-tagline' %}
{% endif %}

{% if news_hero %}
	{% set hero_modifier = hero_modifier ~ ' has-news' %}
{% endif %}

<div class="hero {{ hero_modifier }}">

	{% if tagline %}
		{% include '@atoms/tagline.html.twig' %}
	{% endif %}

	<div class="hero-wrapper">
		{% if news_hero %}
			{{ news_hero }}
		{% else %}

			<div class="hero-body">
				{% include '@molecules/headline-group.html.twig' %}
				
				{{ body }}

				{% if button_link %}
				{% include '@atoms/button.html.twig' with {
					label: button_title|default('About Us'),
					url: button_link,
				} %}
				{% endif %}
			</div>

			{% if image %}
					<div class="hero-image">
						{{ image }}
					</div>
				{% endif %}
		{% endif %}
	</div>

	<div class="background-image" {% if background_url %}style="background-image: url({{ background_url|render|striptags|trim }});"{% endif %}></div>
</div>