<div class="person">
	<div class="headshot">
		{% if linked %}<a href="{{ url }}">{% endif %}
			{% if no_photo %}
				<img src="{{ base_path ~ directory }}/images/no-photo-avatar.svg" alt="Missing photo: placeholder image for {{ plain_title }}" />
			{% else %}
				{{ image }}
			{% endif %}
		{% if linked %}</a>{% endif %}
	</div>

	<div class="person-details">

		{% include '@molecules/headline-group.html.twig' with {
			linked: linked,
			headline: name,
		} %}

		<div class="titles">
			<ul>
				{% for title in titles %}
				<li>
					<span class="title-name">{{ title.value }}</span>
                </li>
				{% endfor %}
			</ul>
		</div>


		<div class="links">
			<ul>
				{% if email %}
				<li>{{ email }}</li>
				{% endif %}
				{% if phone %}
				<li>{{ phone }}</li>
				{% endif %}
				{% for link in links %}
					<li>
						<a href="{{ link.url }}">{{ link.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

	</div>
</div>