{% import _self as subnavs %}

{% macro menu_links(items, menu_level, home_url) %}
  {% import _self as subnavs %}
	{% import '@macros/svg.macro.twig' as svg %}
  {% if items|length or home_url %}
  	<ul{% if menu_level > 0 %} class="dropdown"{% endif %}>
		{% if home_url and menu_level == 0 %}
				<li><a href="{{ home_url }}" class="unit-home">
					{{ svg.ref('home','home','home') }}
					<span class="sr-only">Subsection Home</span>
				</a></li>
		{% endif %}
    {% for item in items %}
	  {% set e = item.entity %}
	  {% set title = e.title.value %}
	  {% set url = e.field_link[0].url %}
      <li{% if e.field_children %} class="has-dropdown"{% endif %}>
			{% if e.field_children %}
				<button>{{ title }}
					<div class="cell icon-wrapper">
						<svg title="Toggle Menu" class="large-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-right"></use></svg>
					</div>
				</button>
				{{ subnavs.menu_links(e.field_children, menu_level + 1) }}
			{% else %}
				<a href="{{ url }}">{{ title }}</a>
			{% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

<div class="unit-nav">
	<nav>
		{{ subnavs.menu_links(unit_nav, 0, home_url) }}
	</nav>
</div>